$menu : #0058dc;
$highlight: #FF9E45;
$green: #76cd68;

@mixin button-style {
  width: auto;
  font-size: 12px;
  color: white;
  background: $highlight;
  outline: 0;
  border: 0;
  padding: 0.25rem 1rem;
  text-transform: uppercase;
  margin-top: 0.25rem;
  font-weight: bold;
  font-family: Poppins;
  cursor: pointer;

  @media only screen and (min-width: 1024px) {
    font-size: 18px;
    padding: 1.25rem 2rem;
  }
}